/**************************************/
/* CSS RESET                          */
/**************************************/

/* Box sizing rules */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**************************************/
/* VARIABLES                         */
/**************************************/

:root {
    /* Primary */

    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    
    /* Gradients */
    
    /*(background) */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    
    /* (circle) */
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    
    --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    
    /* Neutral */
    
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

/**************************************/
/* TYPOGRAPHY                         */
/**************************************/

body {
    font-family: 'Hanken Grotesk', sans-serif;
    min-height: 100vh;
    max-width: 100%;
}

p {
    font: 18px;
}

/**************************************/
/* CLASSES                            */
/**************************************/

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
  padding: 2rem 3rem;
  border-radius: 25px;
}

.result-wrapper h1 {
  color: var(--Light-lavender);
  font-weight: 500;
  text-align: center;
  padding: 2rem 0  2rem 0;
}

.result-wrapper h2 {
  color: var(--White);
  font: 50px;
  font-weight: 800;
    
}

.score {
    
    background-image: linear-gradient(to bottom, var(--Violet-blue), var(--Persian-blue));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    height: 150px;
    width: 150px;

    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--Light-royal-blue);
}

.score p {
    color: var(--Transparent-white-paragraphs);
}

.score-main {
  font-size: 3rem;
}

.result-stats {
    margin-top: 3rem;
    text-align: center;
}

.result-stats h3 {
    color: var(--White);
    font-size: 2rem;
}

.result-stats p {
    margin-top: 1rem;
    padding: 5px;
    color: var(--Light-lavender)
}

.summary-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1.5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.summary-wrapper h4 {
  color: var(--Dark-gray-blue);
  font-size: 2rem;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  padding: 1.5rem 2rem;
}

.summary-item:nth-of-type(1){
  color: var(--Light-red);
  background-color: hsla(0, 100%, 67%, .2);
}

.summary-item:nth-of-type(2){
  color: var(--Orangey-yellow);
  background-color: hsla(39, 100%, 56%, .2);
}

.summary-item:nth-of-type(3){
  color: var(--Green-teal);
  background-color: hsla(166, 100%, 37%, .2);
}

.summary-item:nth-of-type(4){
  color: var(--Cobalt-blue);
  background-color: hsla(234, 85%, 45%, .2);
}

.summary-item h5 {
  font-size: 1.3rem;
}

.summary-item-score {
  color: var(--Dark-gray-blue);
  font-size: 1.3rem;
}

.summary-item-outof {
  color: grey;
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 1rem;
}

.button {
  text-align: center;
  color: var(--Pale-blue);
  background-color: var(--Dark-gray-blue);
  border-radius: 30px;
  font-weight: bold;
  padding: 1rem;
  border: unset;
  letter-spacing: .1rem;
  transition: background-color 0.1s linear, color 0.1s linear;
}

.button:hover,
.button:active {
  background: var(--Dark-gray-blue);
  background-image: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
  cursor: pointer;
}

@media( max-width: 976px){
  main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  .container{
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .result-wrapper{
    flex: 2;
    z-index: 1;
    transform: translateX(3%);
    justify-content: space-around;
  }
  .summary-item{
    flex: 3;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px 10px 20px hsla(224, 30%, 27%, .3);;
  }
}